body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
    background: #40514e;
    color: #fff;
    padding: 6px 24px;
    border: none;
    border-radius: 9999px;
    outline: none;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
.primary {
    background: #40514e;
}
.secondary {
    background: #11999e;
}

.input-text {
    padding: 8px 16px;
    border: solid #ddd 1px;
    border-radius: 9999px;
    outline: none;
}

.search-input-container {
    display: flex;
    align-items: center;
}
.search-input-btn-wrapper {
    padding: 0 0 0 8px;
}